/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* remember to define focus styles! */
:focus {
  outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #221E1F;
  font-family: "Noto Sans TC", sans-serif;
}

html, body {
  scroll-behavior: smooth;
  position: relative;
}

img {
  image-rendering: -webkit-optimize-contrast;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 16px;
}

@media (max-width: 768px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
    padding: 0 20px;
  }
}

.rowbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav {
  margin-bottom: 30px;
}

nav .logo {
  display: block;
  height: 40px;
  margin: 24px 0;
}

@media (max-width: 768px) {
  nav {
    background-color: #fff;
    border-bottom: #FFD153 2px solid;
  }
}

@media (max-width: 414px) {
  nav {
    background-color: #fff;
    border-bottom: #FFD153 2px solid;
    margin-bottom: 32px;
  }
  nav .logo {
    height: 24px;
  }
}

h2 {
  color: #221E1F;
  display: block;
  font-size: 48px;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 16px;
}

@media (max-width: 414px) {
  h2 {
    font-size: 32px;
    line-height: 46px;
  }
}

h3 {
  font-size: 32px;
  font-weight: bold;
  line-height: 46px;
}

@media (max-width: 414px) {
  h3 {
    font-size: 28px;
    line-height: 40px;
  }
}

.pricingbtn {
  background-color: #FF5D50;
  border-radius: 22px;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 32px;
}

.pricingbtn:hover {
  background-color: #ff756a;
}

.pricingbtn-g {
  background-color: #56C4C5;
  border-radius: 27px;
  color: #fff;
  display: inline-block;
  font-family: "Comfortaa";
  font-size: 18px;
  line-height: 26px;
  padding: 12px 32px;
}

.pricingbtn-g:hover {
  background-color: #69cbcc;
}

.footer {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 56px;
}

.top {
  background-color: #56C4C5;
  border-radius: 100px;
  color: #fff;
  font-family: "Wendy One", sans-serif;
  font-size: 18px;
  line-height: 19px;
  padding: 26px 17px;
  position: fixed;
  right: 48px;
  bottom: 46px;
  text-decoration: none;
}

.top:hover {
  background-color: #69cbcc;
}

@media (max-width: 414px) {
  .top {
    font-size: 14px;
    line-height: 14px;
    padding: 18px 10px 18px 11px;
    right: 16px;
  }
}

html, body {
  background-image: url(../img/bg_yellow.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 0;
}

@media (max-width: 768px) {
  html, body {
    background-image: none;
  }
}

.banner {
  position: relative;
}

@media (max-width: 768px) {
  .banner {
    background-image: url(../img/mobile_bg_yellow@2x.png);
    background-repeat: no-repeat;
    background-position: top 50% right 50%;
  }
}

@media (max-width: 414px) {
  .banner {
    background-image: url(../img/mobile_bg_yellow.png);
    background-repeat: no-repeat;
    background-position: bottom 0 right 50%;
  }
}

.banner .slogan > p:first-child {
  color: #56C4C5;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin-bottom: 8px;
}

@media (max-width: 414px) {
  .banner .slogan > p:first-child {
    font-size: 16px;
    line-height: 24px;
  }
}

.banner .slogan > p:last-child {
  font-size: 20px;
  line-height: 29px;
}

@media (max-width: 414px) {
  .banner .slogan > p:last-child {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 32px;
  }
}

.banner .keyvisual {
  background-image: url(../img/home.svg);
  background-repeat: no-repeat;
  width: 532px;
  height: 534PX;
}

@media (max-width: 768px) {
  .banner .keyvisual {
    width: 304px;
    height: 305PX;
    margin: 0 auto;
  }
}

@media (max-width: 414px) {
  .banner .keyvisual {
    width: 304px;
    height: 305PX;
    margin: 0 auto;
  }
}

.banner .bg-ball {
  background: url(../img/Ellipse_3.svg) no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 87%;
  left: -18%;
  z-index: -1;
}

@media (max-width: 768px) {
  .banner .bg-ball {
    background-image: none;
  }
}

@media (max-width: 414px) {
  .banner .bg-ball {
    background-image: none;
  }
}

.platform {
  margin-bottom: 50px;
  position: relative;
}

@media (max-width: 414px) {
  .platform {
    margin-bottom: 36px;
  }
}

.platform h3 {
  margin-top: 215px;
  margin-bottom: 48px;
  text-align: center;
}

@media (max-width: 414px) {
  .platform h3 {
    margin-top: 60px;
    margin-bottom: 32px;
  }
}

.platform .sns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -16px;
}

@media (max-width: 414px) {
  .platform .sns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.platform .sns li {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 50px;
  padding: 0 16px;
}

.platform .sns li img {
  display: block;
}

.platform .sns li h4 {
  font-size: 24px;
  line-height: 35px;
  margin: 24px 0;
}

.platform .sns li p {
  color: #747474;
  font-size: 16px;
  line-height: 24px;
}

@media (max-width: 414px) {
  .platform .sns li {
    margin-bottom: 24px;
  }
  .platform .sns li > img {
    width: 60px;
    height: 60px;
  }
  .platform .sns li > h4 {
    font-size: 18px;
    line-height: 26px;
    margin: 16px 0;
  }
}

@media (max-width: 414px) {
  .platform .bg-ball {
    background-image: url(../img/Ellipse_3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 126px;
    height: 126px;
    top: 3%;
    left: -20%;
    z-index: -1;
  }
}

.users {
  position: relative;
  text-align: center;
  padding-bottom: 100px;
}

@media (max-width: 414px) {
  .users {
    padding-bottom: 60px;
  }
}

.users h3 {
  margin-bottom: 16px;
}

.users .slogan {
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 40px;
}

@media (max-width: 414px) {
  .users .slogan {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 20px;
  }
}

.users .userlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -8px -8px -8px;
}

@media (max-width: 414px) {
  .users .userlist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 -12px 0;
  }
}

.users .userlist li {
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  max-width: 260px;
  margin: 8px 8px;
}

.users .userlist li h4 {
  color: #56C4C5;
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 16px;
}

.users .userlist li p {
  display: block;
  line-height: 26px;
  padding: 16px 16px 24px 16px;
}

.users .userlist li img {
  width: 100%;
}

@media (max-width: 414px) {
  .users .userlist li {
    margin: 12px 0;
  }
}

.users .bg-ball {
  position: absolute;
  background-image: url(../img/Ellipse_18.svg);
  width: 250px;
  height: 310px;
  bottom: -15%;
  right: 0;
  z-index: -1;
}

@media (max-width: 414px) {
  .users .bg-ball {
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 1%;
    right: 0;
    width: 88px;
    height: 135px;
  }
}

.features {
  margin-bottom: 100px;
}

@media (max-width: 414px) {
  .features {
    margin-bottom: 60px;
  }
}

.features .container {
  padding-right: 49px;
}

@media (max-width: 414px) {
  .features .container {
    padding: 0 20px;
  }
}

.features .rowbox {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.features .slogn {
  margin-bottom: 32px;
}

@media (max-width: 414px) {
  .features .slogn {
    text-align: center;
  }
  .features .slogn p {
    font-size: 16px;
    line-height: 24px;
  }
}

.features .ftlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 507px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: -14px 0;
}

@media (max-width: 414px) {
  .features .ftlist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -12px 0;
  }
}

.features .ftlist li {
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  width: 230px;
  padding: 32px 32px 48px 32px;
  margin: 14px 0;
}

@media (max-width: 414px) {
  .features .ftlist li {
    margin: 12px 0;
  }
}

.features .ftlist li .circle {
  background-color: #fff;
  border-radius: 100px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 86px;
  height: 86px;
}

.features .ftlist li h4 {
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  margin: 24px 0 16px 0;
}

.features .ftlist li p {
  font-size: 16px;
  line-height: 24px;
}

.features p {
  display: block;
  font-size: 18px;
  line-height: 26px;
  margin-top: 16px;
}

.features .pricingbtn-g {
  margin-top: 24px;
}

@media (max-width: 414px) {
  .features .pricingbtn-g {
    margin-top: 16px;
  }
}

.reviews {
  margin-bottom: 100px;
  position: relative;
}

@media (max-width: 414px) {
  .reviews {
    margin-bottom: 60px;
  }
}

.reviews h3 {
  text-align: center;
}

.reviews .rvlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -8px 0 -8px;
}

@media (max-width: 414px) {
  .reviews .rvlist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .reviews .rvlist li:nth-child(n+2) {
    display: none;
  }
}

.reviews .rvlist li {
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  max-width: 352px;
  margin: 106px 8px 24px 8px;
  padding: 48px 32px 24px 32px;
  position: relative;
}

@media (max-width: 414px) {
  .reviews .rvlist li {
    margin-top: 88px;
  }
}

.reviews .rvlist li .photo {
  border-radius: 100px;
  -webkit-box-shadow: 0px 2px 10px #00000014;
          box-shadow: 0px 2px 10px #00000014;
  position: absolute;
  top: -25%;
  width: 80px;
}

.reviews .rvlist li p {
  line-height: 24px;
  margin-bottom: 16px;
}

.reviews .rvlist li h4 {
  border-top: 1px solid #DDDDDD;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 8px;
  padding-top: 16px;
}

.reviews .rvlist li .inforow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.reviews .rvlist li .inforow > p {
  margin: 0;
}

.reviews .rvlist li .rating > img {
  height: 16px;
  margin-right: 4px;
  vertical-align: middle;
}

.reviews .dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews .dots li {
  background-color: #DDDDDD;
  border-radius: 50px;
  display: block;
  height: 10px;
  margin: 0 4px;
  width: 10px;
}

.reviews .dots li:last-child {
  background-color: #FFD153;
  width: 16px;
}

.reviews .bg-ball {
  background-image: url(../img/Ellipse_19.svg);
  position: absolute;
  width: 150px;
  height: 150px;
  left: 5%;
  top: 10%;
  z-index: -1;
}

@media (max-width: 414px) {
  .reviews .bg-ball {
    background-size: cover;
    left: -20%;
    top: 9%;
    width: 153px;
    height: 153px;
  }
}

.experience {
  background-image: url(../img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  max-width: 100%;
  text-align: center;
}

@media (max-width: 414px) {
  .experience {
    background-image: url(../img/footer_sm.svg);
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.experience h3 {
  padding-top: 260px;
  margin-bottom: 48px;
}

@media (max-width: 414px) {
  .experience h3 {
    padding-top: 293px;
    font-size: 24px;
    line-height: 35px;
    margin-bottom: 24px;
  }
}

.experience .pricingbtn-g {
  margin-bottom: 100px;
}

@media (max-width: 414px) {
  .experience .pricingbtn-g {
    margin-bottom: 60px;
  }
}
/*# sourceMappingURL=index.css.map */